#homebg{
     height:100vh;
     background: url('/img/homebg.jpg') no-repeat center center;
     -webkit-background-size: cover;
     background-size: cover;
 }

#app{
    min-height:100vh;
    height: auto;
    background: url('/img/uploadbg.png') no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
#homebg .navbar{

    background: none;
    box-shadow: none;
}
.alert{
    text-align: center;
}
.menuborder{
    border-right: 1px solid #d3d3d3;
}
.sizef{
    font-size: .9em;
}
.logincard{
    padding: 1em;
    border:none;
    border-radius:30px;
    -moz-box-shadow: 0px 27px 36.8px 3.2px rgba(17, 89, 113, 0.13);
    -webkit-box-shadow: 0px 27px 36.8px 3.2px rgba(17, 89, 113, 0.13);
    box-shadow: 0px 27px 36.8px 3.2px rgba(17, 89, 113, 0.13);
}
.subhead{
    color:#078a9b;
    text-align: center;
    margin: 0 0 2em 0;
}
.snktitle{
    color:#078a9b;
    cursor: pointer;
    margin: 1rem 0 1rem 0;
}
.title{
    background: #ffffff;
    border: none;
    font-size: 22px;
    line-height: 1.3;
}
.fname{
    background: #ffffff;
    text-align: left;
    border: none;
    font-size: 17px;
    line-height: 1.3;
    -webkit-box-shadow: 0px 9px 19.32px 1.68px rgba(17, 89, 113, 0.13);
    -moz-box-shadow: 0px 9px 19.32px 1.68px rgba(17, 89, 113, 0.13);
    box-shadow: 0px 9px 19.32px 1.68px rgba(17, 89, 113, 0.13);
}
.delform{
    margin: .7rem 0 .7rem 0;
}
.right{
    text-align: right;
}
.pad{
    margin-bottom: .5em;
}

.rad{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.graphpic{
    text-align: center;
    background: none;
    border: none;
}
.full-height {
    height: 70vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content {
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.title p{
    color:#078a9b;
    margin-bottom:0;
}

.title strong{
    color:#078a9b;
    font-weight:700;
}
.logincard label{
    color:#078a9b;
    font-weight: 600;
    font-size: 12px;
}
.logincard .terms{
    font-weight: 400;
}
input{
    color:#078a9b;
}
input::placeholder {
    font-weight: 600;
    font-size: 14px;
}
.submit{
 padding:.6em 3em;
 font-weight:500;
}
.dropzone{
    border: none;
    width: auto;
    height: 100px;
    position: absolute;
    padding: 17.5em 4em 2em 0;
    top: 0;
    font-size: 13px;
}
.dropzone, .dropzone:hover,.dropzone:focus,.dropzone:active{
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 0 ;
    box-shadow: 0 0 0 0 ;
}

.uploadimg{

    position: absolute;
}
.imageup{
    margin: 0 auto;
    display: block;
    max-width: 220px;
    width: auto;
}
.pad1{
    margin-bottom: 3em;
}
.center{
    text-align: center;
}
#selectedFiles{
    text-align: center;
    width: 100%;
    color:#078a9b;
}
.uploadbtn{
    display: block;
    margin: 0 auto;
}
label input[type="file"]{
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
}

@media screen and (max-width:768px) {

    .menuborder{
        border-right: none;
    }
}
